`@cfworker/json-schema` unsupported reference pointer name

Hello.
I've noticed that using special chars like ` `, `|`, `[`, `]`, `{`, `}`, `^`, `%`, `\`, `~` in reference pointers lead to an exception.

Example schema that fails:
```json
{
  "type": "object",
  "definitions": {
    "child[one]": { "type": "string" }
  },
  "properties": {
    "name": { "type": "string" },
    "children": {
      "type": "array",
      "items": { "$ref": "#/definitions/child[one]" }
    }
  }
}
```

When trying to call `.validate()` I get error:
```
Unresolved $ref "#/definitions/child[one]".  Absolute URI "https://github.com/cfworker#/definitions/child[one]".
Known schemas:
- https://github.com/cfworker
- https://github.com/cfworker#/definitions/child%5Bone%5D
- https://github.com/cfworker#/properties/name
- https://github.com/cfworker#/properties/children
- https://github.com/cfworker#/properties/children/items
```

Live example with this error: https://dune.land/dune/b2d7d6c1-280c-4bdf-bb17-71381a6a1c95

Is this part of spec or is this a bug?
Other validators seem to support this.
Ajv for example succeeds: https://dune.land/dune/8a759612-aaac-4eda-8494-d9adcf8105ec

When cfworker is dereferencing the schema as per [section 9.2](https://json-schema.org/draft/2020-12/json-schema-core#name-dereferencing) the reserved characters in the references are percent encoded as per [section 2.2 in RFC3986](https://www.rfc-editor.org/rfc/rfc3986.html#section-2.2). 

I think there's a bug where the lib is not normalizing the $ref value.

As a workaround you could try changing your $ref as follows.

```diff
  {
    "type": "object",
    "definitions": {
      "child[one]": { "type": "string" }
    },
    "properties": {
      "name": { "type": "string" },
      "children": {
        "type": "array",
-       "items": { "$ref": "#/definitions/child[one]" }
+       "items": { "$ref": "#/definitions/child%5Bone%5D"
      }
    }
  }
```

Leaving this open to look into normalizing the $ref.

https://github.com/ajv-validator/ajv/blob/69568d08564303e2c32a2de61feb833b41075f96/lib/compile/util.ts#L63